.post {
  padding: 20px;

  h1,
  h2,
  h3,
  h4 {
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-color: @PRIMARY_COLOUR;
  }

  p,
  li {
    color: rgba(@SECONDARY_COLOUR, 0.8);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 17px;
  }
}
