@font-face {
  font-family: OptimusPrinceps;
  src: url(../../fonts/OptimusPrinceps.ttf);
}
@font-face {
  font-family: OptimusPrincepsSemiBold;
  src: url(../../fonts/OptimusPrincepsSemiBold.ttf);
}
@font-face {
  font-family: CharterITC;
  src: url(../../fonts/CharterITC-Regu.otf);
}
